* {
    box-sizing: border-box;
}

body,
html {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

#root {
    height: 100%;
}

.App {
    height: 100%;
}

.bg-image {
    height: 100%;
    width: 100%;
    background-image: url("./images/bg-image.jpg");
    filter: blur(8px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -999;
}

.logo {
    height: 150px;
    width: 150px;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
