* {
    box-sizing: border-box;
}

body,
html,
#root,
.App {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.bg-image {
    height: 100%;
    width: 100%;
    background-image: url("./images/bg-image.jpg");
    filter: blur(8px);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: -999;
}

.logo {
    height: 180px;
    width: 180px;
    background-image: url("./images/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#temp-container,
#wind-container {
    display: flex;
    width: 100%;
    height: 150px;
    padding: 1rem;
    flex-wrap: wrap;
}

#temp-container > div,
#wind-container > div {
    flex-basis: 33.333%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Inter;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

#temp-container div:first-child {
    background-color: #ffcc00;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    font-size: 64px;
    padding: 1rem;
}

.min-max {
    font-size: 40px;
}

.curr-temp {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.category {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 95vw;
    margin: 1rem auto;
    font-size: 40px;
    font-weight: 700;
}

.category span {
    width: 100%;
    border: 1px solid black;
    margin: 5px 0 0 15px;
}

#wind-container {
    font-size: 40px;
}

.loader {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#loc-box {
    /* outline: 1px solid black; */
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#loc-box > * {
    /* outline: 1px solid red; */
    flex-basis: 40%;
    height: 100%;
    background: #ffcc00;
}

#loc-box > div,
#loc-box > form {
    font-family: Inter;
    font-size: 1.5em;
    font-weight: 500;
    padding: 1rem;
    display: flex;
    align-items: center;
}

#loc-box > form {
    justify-content: center;
}

#loc-box input {
    outline: none;
    border: none;
    margin: 1rem;
    height: 50%;
    border-radius: 7px;
    padding-left: 5px;
}

#loc-box button {
    border-radius: 7px;
    border: none;
    height: 50%;
    cursor: pointer;
    transition: all 0.5s ease;
}

#loc-box button:hover {
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
}
